<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>Dashboard</title>
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      background: #161616;
    }

    .white-shadow {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  </style>
</head>

<body>
  <div class="container mt-5">
    <h1 class="text-center mb-4 text-white">Usuarios en el Dashboard</h1>

    <ul class="list-unstyled">
      {{#each users}}
      <li class="card p-3 mb-2 white-shadow">
        <div class="d-flex justify-content-between align-items-center">
          <span>
            {{this.first_name}} {{this.last_name}} - {{this.email}} - Edad: {{this.age}} - Rol: {{this.role}}
          </span>
          <div>
            <select id="roleSelect-{{this.id}}" class="form-control d-inline-block w-auto">
              <option value="">Seleccione un rol</option>
              <option value="user">Usuario</option>
              <option value="moderator">Moderador</option>
              <option value="admin">Administrador</option>
            </select>
            <button class="btn btn-success btn-sm ml-2" onclick="changeRole('{{this.id}}')">Cambiar rol</button>
            <button class="btn btn-danger btn-sm ml-2" onclick="deleteUser('{{this.id}}')">Eliminar</button>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script>
    async function changeRole(userId) {
      const roleSelect = document.getElementById(`roleSelect-${userId}`);
      const selectedRole = roleSelect.value;

      const response = await fetch('/api/users/dashboard/change-role', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ userId, role: selectedRole })
      });

      if (response.status === 200) {
            Swal.fire({
              title: 'Congratulations!',
              text: 'El rol del usuario ha sido modificado porfavor refresque la pagina para ver los cambios!',
              icon: 'success',
              background: '#ffff', // Dark background color
              color: '#ffff', // White text color
              confirmButtonColor: '#6c757d', // Confirm button color
            });
          }
    }

    async function deleteUser(userId) {
      try {
        const response = await fetch(`/api/users/dashboard/delete-user/${userId}`, {
          method: 'DELETE',
        });

        if (response.status === 200) {
            Swal.fire({
              title: 'Congratulations!',
              text: 'El usuario ha sido eliminado con exito porfavor refresque la pagina para ver los cambios!',
              icon: 'success',
              background: '#ffff', // Dark background color
              color: '#ffff', // White text color
              confirmButtonColor: '#6c757d', // Confirm button color
            });
          }
      } catch (error) {
        console.error(error);
      }
    }
  </script>
</body>

</html>